@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Wix+Madefor+Text:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    /* background-image: url("../assets/home-gradient-bg.avif");
    background-repeat: repeat-y;
    background-size: cover;     */
    /* background-color: rgb(246, 244, 240); */
}


::-webkit-scrollbar {
    width: 0    ;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    position: relative;
}


.join-btn {
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px 18px;
    border-radius: 6px;
    background-color: white;
    color: black;
}

.join-btn:hover {
    border: 2px solid transparent;
    cursor: pointer;
    color: white;
    background-color: black;
}
/* 
#go-home-btn {
    color: #4A2199;
    font-size: 20px;
    text-decoration: none;
    margin: 20px 0 0 20px;
}

#go-home-btn:hover {
    text-decoration: underline;
} */