/* .events__selector {
    display: flex;
    width: 100%;
    padding: 40px;
    padding-bottom: 0;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.events__selector > p {
    font-size: 32px;
} */
.events_list {
    margin: 70px 45px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 70px;
    position: relative;
}


.events_listitem {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
}

.listitem_left {
    flex: 2;
}
.listitem_right {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    gap: 20px;
}

.item_heading {
    font-size: 32px;
    font-weight: 700;
    color: #4A2199;
    margin-bottom: 14px;
}

.item_subheading {
    font-size: 15px;
    line-height: 22px;
}

.item_subheading > span {
    font-size: 15px;
    /* padding: 0 5px; */
}

.item_subheading > a {
    color: rgb(72, 183, 227);
    font-size: 15px;
    padding-left: 8px;
}

.item_subheading > a:hover {
    text-decoration: none;
}

.item_date_venue {
    margin-top: 10px;
    display: flex;
    width: 70%;
    gap: 25px;
}

.item_date_venue > div {
    flex: 1;
}

.item_date_venue > div > h3 {
    font-size: 15px;
    display: inline-block;
}

.item_date_venue > div > p {
    display: inline-block;
    /* margin-top: 8px; */
    font-size: 15px;
    margin-bottom: 12px;
    line-height: 18px;
}

.item_date > p > span {
    text-decoration: underline;
    font-size: 15px;
}

.item_venue > a {
    font-size: 15px;
}

.item_venue > a:hover {
    text-decoration: none;
}

.form_link {
    font-size: 22px;
    margin-bottom: 12px;
    background-color: #2d2d2d;
    color: #eee;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.listitem_right > section {
    transform: rotate(-90deg);
    position: relative;
}

.listitem_right > section > span {
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background-color: #2d2d2d;
    top: 50%;
}

.listitem_right > section > .line1 {
    left: -55px;
}
.listitem_right > section > .line2 {
    right: -55px;
}
.form_qrcode > p {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 3px;
}
.form_qrcode > img {
    max-width: 140px;
    width: 100%;
}

.events_list > hr {
    width: 95%;
    height: 2px;
    background-color: #2d2d2d;
}