@media screen and (max-width : 550px) {
    #events-list {
        padding: 0 20px;
    }
}

@media screen and (max-width : 400px) {
    .item-heading {
        font-size: 26px;
    }

    .item-desc {
        font-size: 20px;
    }
}