@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Wix+Madefor+Text:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    /* background-image: url("../assets/home-gradient-bg.avif");
    background-repeat: repeat-y;
    background-size: cover;     */
    /* background-color: rgb(246, 244, 240); */
}

.page__title {
    margin-top: 140px;
    width: 100vw;
}

.page__title > h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 8px;
}

.page__title > h2 > span {
    color: #4A2199;
}

.page__title > p {
    text-align: center;
    font-size: 20px;
}

.page__title > p > span {
    font-size: 26px;
    font-weight: 600;
    color: #4A2199;
}


.main_form__container {
    padding: 30px;
    display: flex;
    gap: 55px;
    flex-direction: column;
}
.group_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

label {
    font-size: 24px;
    opacity: 70%;
    /* margin-bottom: 20px; */
    color: rgb(58, 39, 39);
    font-weight: 600;
}

label::after {
    content: "*";
    color: red;
    padding-left: 4px;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea
{
    margin: 15px 0;
    padding: 12px 17px;
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 0.5px solid black;
    /* border-bottom: 1px solid lightcoral; */
}

textarea {
    padding: 18px 8px 2px 8px;
    border: 0.5px solid black;
    border-radius: 8px;
    resize: none;
}

input:focus{
    outline: none;
    border: 0.5px solid rgba(0, 0, 0, 0.521);
    border-radius: 8px;
    border-bottom: 1.4px solid lightcoral;
}

textarea:focus {
    outline: none;
    border: 1.4px solid lightcoral;
}

.radio_container, .checkbox_container {
    display: flex;
    gap: 50px;
}

.checkbox_container > div,
.radio_container > div
 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.checkbox_container > div > div,
.radio_container > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.checkbox_container > div > div > p,
.radio_container > div > div > p {
    font-size: 18px;
}