/* .features-section__container {
    width: 100%;
    height: 100%;
}

.features__horizontal {
    overflow-x: hidden;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap; */
    /* transform: translate(-300vw); */
/* } */

/* .feature__item {
    border: 10px solid aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: aliceblue;
} */


/* 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    font-family: 'Poppins';
}
.wrapper {
    overflow-x: hidden;
    position: relative;
}
* {
    box-sizing: border-box;
}

svg {
    position: absolute;
    top: 12em;
    left: 10vw;
    width: 50vw;


}

svg > .mask {
    width: 0;
}

.container {
    display: flex;
    width: 300vw;
} */

.features-section__container {
    max-width: 800px;
    /* width: 100%; */
    margin: 100px auto;
    overflow-x: hidden;
}

.features-section__title {
    text-align: center;
    margin: 100px 0;
    color: black;
    font-size: 55px;
}

.feature__items {
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    /* align-items: center; */
    /* overflow-x: hidden; */
    /* position: relative; */
    animation: feature_slider 20s linear infinite;
    gap: 50px;
    /* justify-content: space-evenly; */
    /* flex-direction: column; */
    /* gap: 150px; */
    /* overflow-x: scroll; */
    /* gap: 40px; */
    /* translate: -700%; */
    /* transition: all 2s ease; */
    /* translate: -400px; */
}

@keyframes feature_slider {
    from {
        translate: 0;
    }
    to {
        translate: -405%;
    }
}
.feature__items::-webkit-scrollbar,
.feature__item::-webkit-scrollbar {
    display: none;
}

.feature__items, .feature__item {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.feature__item {
    position: relative;
    /* width: fit-content; */
    /* border: 1px solid black; */
    /* width: 90%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* gap: 25px; */
}

/* .feature__item:nth-child(even) {
    flex-direction: row-reverse;
} */
.item-image {
    width: 370px;
    height: 370px;
    /* align-self: flex-start; */
    align-self: center;
    object-fit: cover;
    display: none;
}

.item-image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item-text {
    /* flex: 1; */
    /* align-self: center; */
    /* width: 100%; */
    /* width: 650px; */
    width: 350px;
    /* text-align: center; */
}

.item-title {
    font-size: 22px;
    margin-bottom: 25px;
}

.item-title > span {
    font-size: 32px;
}

.item-desc {
    font-size: 14px;
    color: #696969;
}

.item-dot {
    position: absolute;
    width: 17px;
    bottom: -8px;
    left: 50%;
    height: 17px;
    border-radius: 50%;
    background-color: #696969;
    z-index: 1;
}

.item-line {
    width: 50%;
    z-index: 0;
    background-color: red;
    height: 2px;
    position: absolute;
}

.left-line {
    left: 0;
}

.right-line {
    right: 0;
}

.rotate-button__container {
    display: none;
    width: 100%;
    /* margin: 25px; */
    align-items: center;
    justify-content: space-between;
}

.rotate-button {
    font-size: 40px;
    cursor: pointer;
}