.about-section__container {
    z-index: 1;
    position: relative;
    color: black;
    margin: 100px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-info__container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow-x: hidden;

}
.about-info__container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.about-info__container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.about__title {
    position: absolute;
    top: 20px;
    left: 27%;
    overflow: hidden;
    z-index: 10;
    /* transform: translateX(-200px); */
}

.about__title > span {
    position: relative;
    font-size: 90px;
    color: #696969;
}

.title__border {
    width: 150px;
    height: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #696969;
}

.about__img {
    object-fit: contain;
    flex: 1;
    /* transform: scaleX(0); */
}

.about__img > img {
    width: 100%;
    z-index: 1;
}

.about__desc {
    flex: 1.3;
    font-size: 13px;
    margin-top: 150px;
}